.projectcard{
    width: 300px;
    height: 300px;
    // margin: 10px;
    // background-color: bisque;
    // position: relative;
    // color: white;
    img{
        width: 100%;
        height: 70%;
        object-fit: cover;

    }
    .info{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 15px;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: contain;
        }
        .text{
            width: 151px;
            h2{
                font-size: 12px;
            }
            span{}
        }
    }
}
