.featured{
     height: 70vh;
        display: flex;
        justify-content: center;
        background-color: rgb(9, 65, 9);
        color: white;
    .container{
        display: flex;
        width: 1000px;
        align-items: center;
        
            .left{
                display: flex;
                flex-direction: column;
                gap: 30px;
               h1{
                i{
                    font-weight: 100;
                }
               }
                .search{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: white;
                    border-radius: 5px;
                  .searchInput{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    img{
                        height: 20px;
                        width: 20px;
                        margin: 5px;
                    }
                    input{
                        border: none;
                        outline: none;
                    }
                  }
                  button{
                    width: 120px;
                    height: 36px;
                    background-color: #30b730;
                    color: white;
                    border: none;
                    cursor: pointer;
                
                  }  
                }
                .popular{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    button{

                        color: white;
                        background-color: transparent;
                        border: 1px solid white;
                        padding: 5px 10px;
                        border-radius: 15px;
                        font-size: 11px;
                        cursor: pointer;
                    }
                }
            }
            .right{
                height: 100%;
                img{
                    height: 100%;
                    // object-fit: contain;
                    width: 313px;
                }
            }
        
    }
}